body{
    background-color: rgb(43, 43, 41);
}

.s{
    position:relative;
    left:300px;
    top: 50px;
    
    color:white;
}
.d{
    color:white;
    position:relative;
    top:100px;
    left:300px;
    width:900px;
    height:200px;

}