body{
    background-color: rgb(43, 43, 41);
}
.jumble{
    background-color: rgb(75, 74, 75);
    width:900px;
    height: 300px;
    position:relative;
    left:300px;
    top:100px;
    border-radius: 4px;
  
}
.s{
    position:relative;
    left:300px;
    top: 50px;
    
    color:white;
}